<div class="container">
	<h3 class="animated wow zoomIn" data-wow-delay=".5s"><span>About Us</span></h3>
	{% if site.about %}
	<p class="about-dummy animated wow slideInUp" data-wow-delay=".5s">{{ site.about }}</p>
	{% endif %}
</div>