<!-- banner-bottom -->
<div class="banner-bottom" id="about">	
	{% include about.html %}
	<div class="banner-bottom-grids animated wow slideInLeft" data-wow-delay=".5s">
		<ul id="flexiselDemo1">			
			{% for frontimage in site.data.frontimages %}
			<li>
				<div class="banner-bottom-grid">
					<img src="{{ site.baseurl }}/{{ frontimage.url }}" alt="{{ frontimage.alt }}" class="img-responsive" />
				</div>
			</li>
			{% endfor %}
		</ul>
		<script type="text/javascript">
			$(window).load(function() {
				$("#flexiselDemo1").flexisel({
					visibleItems: 6,
					animationSpeed: 1000,
					autoPlay: true,
					autoPlaySpeed: 3000,    		
					pauseOnHover: true,
					enableResponsiveBreakpoints: true,
					responsiveBreakpoints: { 
						portrait: { 
							changePoint:480,
							visibleItems: 2
						}, 
						landscape: { 
							changePoint:640,
							visibleItems:3
						},
						tablet: { 
							changePoint:768,
							visibleItems: 4
						}
					}
				});
				
			});
	</script>
	<script type="text/javascript" src="{{ site.baseurl }}/bower_components/nuptials/js/jquery.flexisel.js"></script>
	</div>
</div>
<!-- //banner-bottom -->