<!-- contact -->
<div class="contact" id="mail">
	<div class="container">
		<h3 class="animated wow zoomIn" data-wow-delay=".5s"><span>Mail Us</span></h3>
		<div class="mail-grids">
			<div class="col-md-6 mail-grid-left animated wow slideInLeft" data-wow-delay=".5s">
				<form action="#" method="post">
					<input type="text" name="Name" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
					<input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<input type="text" name="Subject" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}" required="">
					<textarea type="text"  name="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
					<input type="submit" value="Submit Now">
				</form>
			</div>
			<div class="col-md-6 mail-grid-right">
				<div class="get-in animated wow slideInUp" data-wow-delay=".5s">
					<h4>Get In Touch</h4>
					<ul>
						<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+1234 567 891</li>
						<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+1234 567 892</li>
					</ul>
				</div>
				<div class="get-in animated wow slideInUp" data-wow-delay=".6s">
					<h4>Where We Are</h4>
					<ul>
						<li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>4th Avenue, New Building,</li>
						<li>3rd Cross Road, </li>
						<li>New York City.</li>
					</ul>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //contact -->