<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="footer-pos">
			<a href="#home1" class="scroll"><img src="{{ site.baseurl }}/bower_compoentns/nuptials/images/7.png" alt=" " class="img-responsive" /></a>
		</div>
		<div class="footer-logo">
			<a href="index.html" class="animated wow zoomIn" data-wow-delay=".5s">Nuptials</a>
			<p class="animated wow slideInUp" data-wow-delay=".5s">we are social</p>
		</div>
		<ul class="social-icons animated wow slideInUp" data-wow-delay=".6s">
			{% if site.social.facebook and site.social.facebook != 'FACEBOOK_URL' %}
				<li><a href="{{ site.social.facebook }}" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a></li>
				{% endif %}
				{% if site.social.instagram and site.social.instagram != 'INSTAGRAM_URL' %}
				<li><a href="{{ site.social.instagram }}" class="icon-button instagram"><i class="icon-instagram"></i><span></span></a></li>
				{% endif %}
				{% if site.social.twitter and site.social.twitter != 'TWITTER_URL' %}
				<li><a href="{{ site.social.twitter }}" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a></li>
				{% endif %}
				{% if site.social.googleplus and site.social.googleplus != 'GOOGLEPLUS_URL' %}
				<li><a href="{{ site.social.googleplus }}" class="icon-button g-plus"><i class="icon-g-plus"></i><span></span></a></li>
				{% endif %}
		</ul>
		<div class="copyright">
			<p class="animated wow slideInLeft" data-wow-delay=".5s">© 2016 Nuptials. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a> | Jekyll Template by <a href="http://saiashirwad.com">Sai Ashirwad Informatia</a></p>
		</div>
	</div>
</div>
<!-- //footer -->
<!-- for bootstrap working -->
<script src="{{ site.baseurl }}/bower_components/nuptials/js/bootstrap.js"></script>
<!-- //for bootstrap working -->