<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
Jekyll Template: https://saiashirwadinformatia.gitlab.io/JekyllTemplates/
-->
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{{ site.baseurl }}/bower_components/nuptials/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{ site.baseurl }}/bower_components/nuptials/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{{ site.baseurl }}/bower_components/nuptials/css/chocolat.css" type="text/css" media="screen" charset="utf-8">
<!-- js -->
<script type="text/javascript" src="{{ site.baseurl }}/bower_components/nuptials/js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- script -->
	<script src="{{ site.baseurl }}/bower_components/nuptials/js/jquery.chocolat.js"></script>
		<!--light-box-files-->
	<script type="text/javascript" charset="utf-8">
		$(function() {
			$('.portfolio-grids a').Chocolat();
		});
	</script>
<!-- script -->
<!-- animation-effect -->
<link href="{{ site.baseurl }}/bower_components/nuptials/css/animate.min.css" rel="stylesheet"> 
<script src="{{ site.baseurl }}/bower_components/nuptials/js/wow.min.js"></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->
<!-- timer -->
<link rel="stylesheet" href="{{ site.baseurl }}/bower_components/nuptials/css/jquery.countdown.css" />
<!-- //timer -->
<link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>