<li class="active"><a href="index.html"><span>Home</span></a></li>
<li><a href="#about" class="scroll"><span>About</span></a></li>
<li><a href="#team" class="scroll"><span>Team</span></a></li>
<li><a href="#services" class="scroll"><span>Services</span></a></li>
<li><a href="#events" class="scroll"><span>News & Events</span></a></li>
<li><a href="#gallery" class="scroll"><span>Gallery</span></a></li>
<li><a href="#mail" class="scroll"><span>Mail Us</span></a></li>