<!-- news -->
<div class="news" id="events">
	<div class="container">
		<h3 class="animated wow zoomIn" data-wow-delay=".5s"><span>News & Events</span></h3>
		<div class="news-grids">
			<div class="col-md-8 news-grid-left">
				<div class="date-tag">
					<div class="date-tag-left animated wow slideInLeft" data-wow-delay=".5s">
						<p>20 April 2016</p>
					</div>
					<div class="date-tag-right animated wow slideInLeft" data-wow-delay=".5s">
						<ul>
							<li><a href="#"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> 5 Tags</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span> Admin</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 5 Messages</a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="bootstrap-pop-up">
					<button type="button" class="btn btn-primary btn-primary-news btn-lg" data-toggle="modal" data-target="#myModal">
					  aspernatur aut odit aut fugit voluptatem quia voluptas
					</button>
					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					  <div class="modal-dialog" role="document">
						<div class="modal-content">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">Nuptials</h4>
						  </div>
						  <div class="modal-body">
							"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
							doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
							inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
							Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
							sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
						  </div>
						</div>
					  </div>
					</div>
				</div>
				<div class="bootstrap-pop-up1">
					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					  <img src="images/13.jpg" alt=" " class="img-responsive" />
					</button>
					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					  <div class="modal-dialog" role="document">
						<div class="modal-content">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">Nuptials</h4>
						  </div>
						  <div class="modal-body">
							"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
							doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
							inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
							Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
							sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
						  </div>
						</div>
					  </div>
					</div>
				</div>
				<div class="readmore-text">
					<p class="animated wow slideInLeft" data-wow-delay=".5s">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
						sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
						 Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus 
						 saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. 
						 Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
						 voluptatibus maiores alias consequatur aut perferendis doloribus asperiores 
						 repellat.</p>
					<div class="more">
						<div class="bootstrap-pop-up">
							<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
							  Learn More...
							</button>
							<!-- Modal -->
							<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							  <div class="modal-dialog" role="document">
								<div class="modal-content">
								  <div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">Nuptials</h4>
								  </div>
								  <div class="modal-body">
									"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
									doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
									inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
									Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
									sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
								  </div>
								</div>
							  </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 news-grid-right">
				<h4 class="animated wow zoomIn" data-wow-delay=".5s">Tags</h4>
				<ul class="animated wow slideInRight" data-wow-delay=".5s">
					<li><a href="#">Wedding</a></li>
					<li><a href="#">Rings</a></li>
					<li><a href="#">Costumes</a></li>
					<li><a href="#">Dinner</a></li>
					<li><a href="#">Groomsman</a></li>
					<li><a href="#">Bridesmaid</a></li>
					<li><a href="#">Wedding</a></li>
					<li><a href="#">Rings</a></li>
					<li><a href="#">Costumes</a></li>
					<li><a href="#">Dinner</a></li>
					<li><a href="#">Groomsman</a></li>
					<li><a href="#">Bridesmaid</a></li>
					<li><a href="#">Wedding</a></li>
					<li><a href="#">Rings</a></li>
					<li><a href="#">Costumes</a></li>
					<li><a href="#">Dinner</a></li>
					<li><a href="#">Groomsman</a></li>
					<li><a href="#">Bridesmaid</a></li>
				</ul>
				<div class="blog">
					<h4 class="animated wow zoomIn" data-wow-delay=".5s"><i>From The </i>Blog</h4>
					<div class="blog-grids">
						<div class="blog-grid">
							<div class="blog-grid-left">
								<img src="images/3.png" alt=" " class="img-responsive" />
							</div>
							<div class="blog-grid-right">
								<div class="bootstrap-pop-up">
									<button type="button" class="btn btn-primary btn-primary1 btn-lg" data-toggle="modal" data-target="#myModal">
									  aspernatur aut odit aut
									</button>
									<!-- Modal -->
									<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
									  <div class="modal-dialog" role="document">
										<div class="modal-content">
										  <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="myModalLabel">Nuptials</h4>
										  </div>
										  <div class="modal-body">
											"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
											doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
											inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
											Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
											sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
										  </div>
										</div>
									  </div>
									</div>
								</div>
								<p>25 April 2016</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="blog-grid">
							<div class="blog-grid-left">
								<img src="images/4.png" alt=" " class="img-responsive" />
							</div>
							<div class="blog-grid-right">
								<div class="bootstrap-pop-up">
									<button type="button" class="btn btn-primary btn-primary1 btn-lg" data-toggle="modal" data-target="#myModal">
									  veritatis et architecto
									</button>
									<!-- Modal -->
									<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
									  <div class="modal-dialog" role="document">
										<div class="modal-content">
										  <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="myModalLabel">Nuptials</h4>
										  </div>
										  <div class="modal-body">
											"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
											doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
											inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
											Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
											sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
										  </div>
										</div>
									  </div>
									</div>
								</div>
								<p>28 April 2016</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="blog-grid">
							<div class="blog-grid-left">
								<img src="images/2.png" alt=" " class="img-responsive" />
							</div>
							<div class="blog-grid-right">
								<div class="bootstrap-pop-up">
									<button type="button" class="btn btn-primary btn-primary1 btn-lg" data-toggle="modal" data-target="#myModal">
									  dolores eos qui ratione
									</button>
									<!-- Modal -->
									<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
									  <div class="modal-dialog" role="document">
										<div class="modal-content">
										  <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="myModalLabel">Nuptials</h4>
										  </div>
										  <div class="modal-body">
											"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
											doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
											inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
											Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
											sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
										  </div>
										</div>
									  </div>
									</div>
								</div>
								<p>31 April 2016</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //news -->