<!-- team -->
<div class="team" id="team">
	<div class="container">
		<h3 class="animated wow zoomIn" data-wow-delay=".5s"><span>Meet Our Team</span></h3>
		<div class="team-grids">
			{% for team in site.data.team %}
			<div class="col-md-3 team-grid animated wow slideInLeft" data-wow-delay=".5s">
				<div class="team-grid1">
					<img src="{{ site.baseurl }}/{{ team.image }}" alt="{{ team.name }}" class="img-responsive" />
				</div>
				<h4>{{ team.name }}</h4>
				<p>{{ team.summary }}</p>
				<ul class="social-icons">
					<li><a href="{{ team.facebook }}" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a></li>
					<li><a href="{{ team.instagram }}" class="icon-button instagram"><i class="icon-instagram"></i><span></span></a></li>
					<li><a href="{{ team.twitter }}" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a></li>
				</ul>
			</div>
			{% endfor %}
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //team -->