<!-- testimonials -->
<div class="testimonials">
	<div class="container">
		<div class="col-md-6 testimonials-grid-left">
			<h3 class="animated wow zoomIn" data-wow-delay=".5s"><span>Testimonials</span></h3>
			<p class="testimonials-dummy animated wow slideInUp" data-wow-delay=".5s">
				{{ site.data.testimonials.short}}
			</p>
			<div class="wmuSlider example1 animated wow slideInUp" data-wow-delay=".5s">
				<div class="wmuSliderWrapper">
					{% for testimonial in site.data.testimonials.data %}
					{% capture modulo %}{{ forloop.index0 | modulo:2 }}{% endcapture %}
					{% if modulo == '0' or forloop.first %}
					<article style="position: absolute; width: 100%; opacity: 0;"> 
						<div class="banner-wrap">
							<div class="testimonials-grid-left-grids">
					{% endif %}
								<div class="testimonials-grid-left-grid">
									<div class="testimonials-grid-left-grid-left">
										<img src="{{ site.baseurl }}/{{ testimonial.image }}" alt="{{ testimonial.title }}" class="img-responsive" />
									</div>
									<div class="testimonials-grid-left-grid-right">
										<h4>{{ testimonial.talk }}<i>{{ testimonial.title }}</i></h4>
									</div>
									<div class="clearfix"> </div>
								</div>
					{% if modulo == '1' or forloop.last %}
							</div>
						</div>
					</article>
					{% endif %}
					{% endfor %}
				</div>
			</div>
			<script src="{{ site.baseurl }}/bower_components/nuptials/js/jquery.wmuSlider.js"></script> 
			<script>
				$('.example1').wmuSlider();         
			</script> 
		</div>
		<div class="col-md-6 testimonials-grid-right">
			<h3 class="animated wow zoomIn" data-wow-delay=".5s"><span>Our Skills</span></h3>
			<p class="testimonials-dummy animated wow slideInUp" data-wow-delay=".5s">{{ site.data.skills.short }}</p>
			<div class='bar_group'>
				{% for skill in site.data.skills.data %}
				<div class='bar_group__bar thin' label='{{ skill.skill }}' show_values='true' tooltip='true' value='{{ skill.value }}'></div>
				{% endfor %}
			</div>
			<script src="{{ site.baseurl }}/bower_components/nuptials/js/bars.js"></script>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- //testimonials -->