<div class="services-grids-wedding">
	<div class="services-grids-wedding1">
		<div class="services-grids-wedding-left animated wow slideInLeft" data-wow-delay=".5s">
			<img src="{{ site.baseurl }}/{{ site.data.wedding.groom.image }}" alt=" " class="img-responsive" />
			<h4>{{ site.data.wedding.groom.name }}</h4>
		</div>
		<div class="services-grids-wedding-right animated wow slideInRight" data-wow-delay=".5s">
			<img src="{{ site.baseurl }}/{{ site.data.wedding.bride.image }}" alt=" " class="img-responsive" />
			<h4>{{ site.data.wedding.bride.name }}</h4>
		</div>
		<div class="clearfix"> </div>
	</div>
	<h5 class="animated wow slideInUp" data-wow-delay=".5s">We are getting married !</h5>
	<p class="animated wow slideInUp" data-wow-delay=".5s">{{ site.data.wedding.address }}</p>
	<div id="counter"> </div>
	<script src="{{ site.baseurl }}/bower_components/nuptials/js/jquery.countdown.js"></script>
	<script>
	$(function(){
		$('#counter').countdown({
			timestamp : new Date({{ site.data.wedding.date }}).getTime()
		});

	});
	</script>
</div>